<% @blogs.each do |blog|%>
	<div class="container">
	<li class="innercontainer">
		<strong><a href="/blog/<%= blog.id %>"><%= blog.title %></a></strong>
		<br>
		<br>
		<%= blog.post %>
		<br>
		<br>
		<label>Author: </label><%= blog.author %>
		<br>
		<label>Date: </label><%= blog.date %>
		<br>
		<label>Time: </label><%= blog.time %>
	</li>
	<p>
	<p>
</div>
<br>
<br>
<%end%>