


<div class="one">
	<%= image_tag('kenyapush.png', :class => 'push') %>
</div>


<div class="two" style="text-align: center;">
	<div class="grid-about">
		<%= image_tag('walk.png', :class => 'kenyaabout') %>
	</div>
<div class="grid-about">
		<%= link_to image_tag('walk.png', :class => 'kenyaabout'), blogs_path %>
	</div>
</div>



<div class="one">
	<div class="grid-class">
		<%= image_tag('class.png', :class => 'teach') %>
	</div>
	<div class="grid-about">
		<%= image_tag('walk.png', :class => 'kenyaabout') %>
	</div>
</div>


<!-- <div class="contact">
	<div class="container">
		<div class="container1">
		<p></p>
	</div>
	</div>
</div> -->


<div class="social" style="margin-bottom: 70px;">
	<div class="grid-insta" style="border: rgb(36, 36, 36) solid 8px;">
		<!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/1f35519f4aea559efbe9d801658745f7851e5c98.html" id="instansive_1f35519f4a" name="instansive_1f35519f4a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="border: 0; overflow: hidden;"></iframe>
	</div>
		<div class="grid-insta" style="border: rgb(36, 36, 36) solid 8px;">
		<!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/1f35519f4aea559efbe9d801658745f7851e5c98.html" id="instansive_1f35519f4a" name="instansive_1f35519f4a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="border: 0; overflow: hidden;"></iframe>
	</div>
	<div class="grid-insta" style="border: rgb(36, 36, 36) solid 8px;">
		<!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/1f35519f4aea559efbe9d801658745f7851e5c98.html" id="instansive_1f35519f4a" name="instansive_1f35519f4a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="border: 0; overflow: hidden;"></iframe>
	</div>
</div>
