<%= form_for @classvideo, html: { multipart: true } do |f| %>
	<div class="form">
    <%= f.label :post %>
    <%= f.text_field :post %>
    <br>
    <br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
    <br>
    <%= f.submit %>
  </div>
<%end%> 